<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />

    </head>
    <body style="background-color: #F8940B">
        <div id="landingContainer"></div>
            
            <img src="/images/landing812.jpg" class="coverImage"/>
            <div id="box" style="margin: 250px auto 0 auto;background-color: #F8F1DF;width: 260px;text-align: center;border-radius: 10px;padding:10px 0 ">
                <p style="color: #F8940B;margin-bottom: 1rem;font-size: 19px;font-weight: bold">
                        <span style="font-size:14px">(</span>به مناسبت ولادت امام رضا <span style="font-size:14px">(ع</span>
                </p>
                <!-- <p style="color: #F8940B;margin-bottom: 1rem;font-size: 19px;font-weight: bold">
                        (به مناسبت ولادت امام رضا (ع
                </p> -->
                <img src="/images/bird.png" style="width:60px;position:fixed;margin-left:10px;margin-left: 104px;margin-top: -21px;"/>
                <p style="color:#137E8C; margin-bottom: -1px;font-size: 19px;font-weight: bold; padding: 0 0 20px 0;">
                    ویژه همراه اولی ها
                </p>

                <p style="font-size: 22px;font-weight: bold">
                    بسته اینترنت رایگان 5 گیگ
                </p>
            </div>
            
            <p style="
                text-align:center;
                margin-top:20px;
                font-size:12px;
                font-weight:bold;
                
            ">
                همین الان شماره خود را وارد کنید و اینترنت هدیه دریافت کنید
            </p>
            <form
                id="form"
                autocomplete="off"  
                action=""
                method="post"
                name="phoneNumberForm"
                onsubmit="return validatePhoneNumberForm()"
            >
                <div class="inputDiv746">
                    <input 
                        style="background-color: #F8F1DF;width:270px;height: 40px;"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        id="inputNums"
                        class="inputItself746"
                        maxlength="11"
                        pattern="\d*"
                        type="number"
                        name="phoneNumber"
                        required
                        placeholder="۰۹۱"
                        oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button id="btnBox746" class="btn" type="submit" style="font-size: 18px; color:#F8940B;background-color: #F8F1DF;" >
                        ثبت شماره
                    </button>  
                </div>
                <div style="
                    text-align:center;
                    margin-top:10px;
                    font-size:12px
                ">
                    <p style="color:#FFF;"> جشنواره اینترنت هدیه در سرویس کالسکه</p>
                </div>
            </form>
        </div>    
    </body>
    <script src="/js/script.js"></script>
    <script>
        if("<%=campaignName%>"){
            var campaignName = "<%=campaignName%>";
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${campaignName}/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('campaignName-landingCode is:........',campaignName+'-'+landingCode)
        }else {
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('landingCode is:........',landingCode)
        }
    </script>
</html>   