<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>    
    <body style="background-color:#861669">
        <div id="landingContainer"></div>
            <div>
                <img src="/images/landing711.jpg" class="coverImage" />
            </div>
            <div class="textBoxDiv711" style="background-color: #E7C59C;font-size:20px;color:#2E083B;padding-top:30px">
                    <p>
                            تبریک!
                        </br>
                            جهت دریافت ۴۰۰۰۰ تومان شارژ رایگان عدد ۲۲ را بعد از ۷۲ ساعت به سرشماره ۴۰۵۵۷۰ ارسال نمایید
                    </p>
            </div>
        </div>    
    </body>
</html>            