<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>  
    <body style="background-color:#861669">
        
        <div id="landingContainer"></div>
            <div>
                <img src="/images/landing711.jpg" class="coverImage" />
            </div>
            <div class="textBoxDiv711">
                <p class="textBoxText711">
                    ویژه همراه اولی ها
                </p>
                <p class="textBoxText711" style="color:#8F266A;">
                    به مناسبت فرا رسیدن ماه مبارک رمضان
                </p>
                <p class="textBoxText711" style="font-size:23px">
                    ۷ گیگ اینترنت رایگان
                </p>
                <p class="textBoxText711">
                    ۴۰ هزار تومان شارژ رایگان
                </p>

                </div>
            <p class="underBoxText711">
                همین حالا شماره خود را وارد کنید و برنده شارژ و اینترنت شوید
            </p>
            <form
                id="form"
                autocomplete="off"
                action=""
                method="post"
                name="phoneNumberForm"
                onsubmit="return validatePhoneNumberForm ()"
            >
                <div class="inputDiv711">
                    <input 
                        oninput=" validatePhoneNumberMaxlength(this.value)"
                        id="inputNums"
                        class="inputItself711"
                        maxlength="11" 
                        type="text" 
                        name="phoneNumber"
                        required
                        placeholder="۰۹۱"
                        oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button id="btnBox711" class="btn" type="submit" >
                        ثبت شماره
                    </button>  
                </div>
            </form>
            <div>
                <p class="underText711">
                    جشنواره شارژ و اینترنت هدیه در سرویس کالسکه
                </p>
            </div>	
        </div>    
    </body>
    <script src="/js/script.js"></script>
    <script>
        if("<%=campaignName%>"){
            var campaignName = "<%=campaignName%>";
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${campaignName}/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('campaignName-landingCode is:........',campaignName+'-'+landingCode)
        }else {
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('landingCode is:........',landingCode)
        }
    </script>
</html>