        <footer class="footer">&copy; تمامی حقوق این سایت متعلق به شرکت رف می‌باشد  </footer>
    </body>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
</html>