<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background-color:rgb(130, 213, 236)">
        <div id="landingContainer"></div>

            <div class="textBoxDiv746" style="background-color: rgba(0,0,0,0);font-size:16px;color: #FFF;padding-top:30px">
                <p style="color:#000">
                        لطفا تا دریافت پیامک منتظر بمانید
                </p>
                <p >
                        با وارد کردن کد تایید 4 رقمی که برای شما تا یک دقیقه آینده پیامک می‌شود، هدیه خود را دریافت کنید
                </p>
            </div>

            <form
                id="form"
                autocomplete="off"
                action="/landing/sendCodeNumber/784" 
                method="post" 
                name="codeNumberForm"
                onsubmit="return validateCodeNumberForm ()"
            >
                <div class="inputDiv746">
                    <input 
                        style="background-color: #F6A717;width:270px;height: 40px;"
                        class="inputItself746"
                        type="number"
                        pattern="\d*"
                        name="codeNumber"  
                        placeholder="کد را ارسال کنید"
                        required
                        oninvalid="this.setCustomValidity('لطفا کد را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button id="btnBox746" class="btn" type="submit" style="background-color: #F6A717;color: #FFF; ">
                        تائید
                    </button>  
                </div>
            </form>
            <div class="landingReSendButton">
                <a id="reTryBTN" href="#">
                    <button id="btnBox746" class="btn" type="button" style="background-color: #F6A717;color: #FFF; "> 
                        ارسال مجدد کد 
                    </button>
                </a>
                <h4 style="margin-top:10px;color:red" id='counter'></h4>                
            </div>	
        </div>    
    </body>
    <script src="/js/script.js"></script>
    <script src="/js/scriptCounter.js"></script>
    <script>
        if("<%=campaignName%>"){
            var campaignName = "<%=campaignName%>";
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendCodeNumber/${campaignName}/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('campaignName-landingCode is:........',campaignName+'-'+landingCode)
        }else {
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendCodeNumber/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('landingCode is:........',landingCode)
        }
    </script>
</html>   