<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background-color: rgb(130, 213, 236)">
        <div id="landingContainer"></div>
            <div>
                <img src="/images/Tabestoon.png" style="width:280px;height:150px;margin:0px auto;display: block;"/>
            </div>
            <div style="text-align:center;margin-top:-30px">
            </div>
            <div 
            style="
                text-align:center;
                font-size:10px;
                width:300px;
                margin: 10px auto 10px auto;
                background-color:#F6A717;
                padding:10px;
                border-radius:10px;
                color:#fff;
                
            ">
                <h3 style="line-height: 25px;font-size:20px;font-family: 'IranSands';font-weight:bold;">تابستون کوتاهه</h3>
                <h3 style="line-height: 25px;font-size:20px;font-family: 'IranSands';font-weight:bold;">هدیه بگیرید</h3>
            </div>
            <div 
            style="
                text-align:center;
                font-size:10px;
                width:300px;
                margin: 0 auto;
                background-color:#F6A717;
                padding:10px;
                border-radius:10px;
            ">
                <h1 style="color:rgb(231, 26, 40);line-height: 20px;font-size:22px;font-family: 'IranSands';font-weight:bold;">اینترنت هدیه تابستانه</h1>
                <h1 style="color:rgb(231, 26, 40);line-height: 30px;font-size:22px;font-family: 'IranSands';font-weight:bold;">ویژه همراه اولی ها</h1>
                <h1 style="color:rgb(5, 85, 10);line-height: 35px;font-size:25px;font-family: 'IranSands';font-weight:bold;">بسته اینترنت رایگان ۵ گیگ</h1>
            </div>
            <p style="
                text-align:center;
                margin-top:20px;
                font-size:12px;
                font-weight:bold;
                
            ">
                همین الان شماره خود را وارد کنید و اینترنت هدیه دریافت کنید
            </p>
            <form
                id="form"
                autocomplete="off"  
                action=""
                method="post"
                name="phoneNumberForm"
                onsubmit="return validatePhoneNumberForm()"
            >
                <div class="inputDiv746">
                    <input 
                        style="background-color: #F6A717;width:270px;height: 40px;"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        id="inputNums"
                        class="inputItself746"
                        maxlength="11"
                        pattern="\d*"
                        type="number"
                        name="phoneNumber"
                        required
                        placeholder="۰۹۱"
                        oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button id="btnBox746" class="btn" type="submit" style="font-size: 18px; color:#FFF;background-color: #F6A717;" >
                        ثبت شماره
                    </button>  
                </div>
                <div style="
                    text-align:center;
                    margin-top:20px;
                    font-size:12px
                ">
                    <p style="color:#FFF;"> جشنواره اینترنت هدیه در سرویس کالسکه</p>
                </div>
            </form>
        </div>    
    </body>
    <script src="/js/script.js"></script>
    <script>
        if("<%=campaignName%>"){
            var campaignName = "<%=campaignName%>";
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${campaignName}/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('campaignName-landingCode is:........',campaignName+'-'+landingCode)
        }else {
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('landingCode is:........',landingCode)
        }
    </script>
</html>   