<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background-color:#FFF0E1">
        <div id="landingContainer" >
            <div>
                <img src="/images/Landing1.jpg" class="coverImage" />
            </div>
            <p class="landingJoinText">
                    تبریک!
                </br>
                    جهت دریافت 1000 تومان شارژ رایگان عدد 22 را بعد از 72 ساعت به سرشماره 405570 ارسال نمایید
            </p>
        </div>    
    </body>
</html>            