<% include partials/header %> 
    <div class="container confirmPage">
        <div class="row mainHeader">
            <div class="col-md-12 col-sm-12" align="center">
                <a href="#"><img id="telegramImage" class="fa" src="/images/teleg.png"
                    onmouseover="this.src='/images/telegHover.png'"
                    onmouseout="this.src='/images/teleg.png'"
                />
                </a>
                <a href="#"><img id="instaImage" class="fa" src="/images/instag.png"
                        onmouseover="this.src='/images/instagHover.png'"
                        onmouseout="this.src='/images/instag.png'"
                    />
                </a>
            </div>
        </div>
        <div class="textBox" align="center">
                <h5>
                    رمز ورود توسط پیامک 
                </h5>
                <p>
                    برای شما ارسال گردید
                </p>
        </div>
        <div class="confirmBox" align="center">
            <p>
            </p>
            <form id="codeNumberForm" 
                action="/register/sendCodeNumber" 
                method="post"
                name="codeNumberForm"
                onsubmit="return validateCodeNumberForm ()"
            >              
                <input name="codeNumber" type="text"
                    style="margin-bottom:0px"
                    class="inputNumber" 
                    placeholder="کد را ارسال کنید" 
                    required
                    oninvalid="this.setCustomValidity('لطفا کد را وارد نمایید')"
                    oninput="setCustomValidity('')"
                >
            </form>
            <h4 style="margin-bottom:20px;margin-top:10px;color:red" id='counter'></h4>
        </div>
        <div align="center">
            <button form="codeNumberForm" class="confirmBtnConfirmpage btn btn-success" type="submit"> تائید </button>
        </div>
        <div align="center">
            <a id='reTryBTN' href="#"><button class="retryBtn btn btn-danger" type="button"> ارسال مجدد کد </button></a>
        </div>
        <div align="center">
            <a href="#"><button class="appBtnConfirm btn btn-info" type="button"> دریافت اپلیکیشن </button></a>
            <div style="margin-top:10px">
                <a href="#" onclick="return alertFunction()"><img class="appLinks fa" 
                        src="/images/apple.png" id="appleImage"
                        onmouseover="this.src='/images/appleHover.png'"
                        onmouseout="this.src='/images/apple.png'"
                    />
                </a>
                <a href="/download/KaaleskehAPK"><img class="appLinks fa" 
                        src="/images/android.png" id="androidImage"
                        onmouseover="this.src='/images/androidHover.png'"
                        onmouseout="this.src='/images/android.png'"
                    />
                </a>
            </div>
        </div>
    </div>    
    <footer class="footer">&copy; تمامی حقوق این سایت متعلق به شرکت رف می‌باشد  </footer>
</body>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/scriptCounter.js"></script>

</html>

