<% include partials/header %> 

    <div class="container">
        <div class="mainHeader" align="center" >
            <img class="imageHeader" height="150px" src="/images/headerBig.jpg" alt="header">
        </div>
        <div class="subHeader row">
            <div class="col-md-4 col-sm-12" align="center">
                <a><button style="background-color:#95C9E2;" class="appBtn btn" type="button">دریافت اپلیکیشن</button></a>
                <div style="margin-top:10px">
                    <a href="/apple/registraion" onclick="return alertFunction()"><img 
                            class="fa" src="/images/apple.png" id="appleImage"
                            onmouseover="this.src='/images/appleHover.png'"
                            onmouseout="this.src='/images/apple.png'"
                        />
                    </a>
                    <a href="/download/KaaleskehAPK"><img 
                            class="fa" src="/images/android.png" id="androidImage"
                            onmouseover="this.src='/images/androidHover.png'"
                            onmouseout="this.src='/images/android.png'"
                        />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
                <a href="#"><img id="telegramImage" class="fa" src="/images/teleg.png"
                        onmouseover="this.src='/images/telegHover.png'"
                        onmouseout="this.src='/images/teleg.png'"
                    />
                </a>
                <a href="#"><img id="instaImage" class="fa" src="/images/instag.png"
                        onmouseover="this.src='/images/instagHover.png'"
                        onmouseout="this.src='/images/instag.png'"
                    />
                </a>
            </div>
            <div class="col-md-4 col-sm-12" align="center">
                <a href="/register"><button style="background-color:#FFC152;" class="joinBtn btn" type="button">عضویت</button></a>
            </div>
        </div>
        <div class="videoContainer row" align="center">
            <div class="col-md-12 col-sm-12 col-lg-6">
                <iframe 
					class="videoPlayer"
                    src="https://arvancdn.com/video/player/?v=https://g2gpcjki-vod.arvancdn.com/baby_carriage/rusta_1/&ttv=false&rpv=false&sbv=false" 
                    name="Roosta 12" 
                    scrolling="no" 
                    style="overflow: hidden;" 
                    allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
                </iframe>
            </div>
            <div id="textDiv" class="col-md-12 col-sm-12 col-lg-6">
                <p class="text">
					مادروپدرشدن مسیری طبیعی و شیرین اما سخت و پراسترس است. ما در این مسیر کنار شما هستیم تا به همه‌ی ظرفیت‌های خودتان دست پیدا کنید و  در کنار فرزندتان  شاد و سلامت باشید. به فرزندتان کمک کنید تا  در  راه رسیدن به توانایی‌هایش رشد کند و  انسانی  شاد و ایمن  باشد.
<br>
امیدواریم همراهتان باشیم تا آگاهانه به غریزه و حس‌های درونیتان اعتماد کنید، عواطف‌تان را بروز بدهید و بهترین تصمیم‌ها را برای خودتان و کودکتان بگیرید.

				</p>
            </div>
        </div>
        <!--slider section-->
        <div class="sliderContainer">
            <div class="container">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="/images/slider1.jpg" style="width:100%" height="500px">
                </div>
                
                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="/images/slider2.jpg" style="width:100%" height="500px">
                </div>
                
                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="/images/slider3.jpg" style="width:100%" height="500px">
                </div>
                    
                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="/images/slider4.jpg" style="width:100%" height="500px">
                </div>
                
                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="/images/slider5.jpg" style="width:100%" height="500px">
                </div>
                    
                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="/images/slider6.jpg" style="width:100%" height="500px">
                </div>
                    
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                
                <div class="caption-container">
                    <p id="caption"></p>
                </div>
                
                <div class="row">
                    <div class="column">
                    <img class="demo cursor" src="/images/slider1.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
                    </div>
                    <div class="column">
                    <img class="demo cursor" src="/images/slider2.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
                    </div>
                    <div class="column">
                    <img class="demo cursor" src="/images/slider3.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
                    </div>
                    <div class="column">
                    <img class="demo cursor" src="/images/slider4.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
                    </div>
                    <div class="column">
                    <img class="demo cursor" src="/images/slider5.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
                    </div>    
                    <div class="column">
                    <img class="demo cursor" src="/images/slider6.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>    
<% include partials/footer %>

