<% include partials/header %> 
    <div class="homeBtn">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>
    <div class="container joinPage">
        <div class="row mainHeader">
            <div class="col-md-12 col-sm-12" align="center">
                <a href="#"><img id="telegramImage" class="fa" src="/images/teleg.png"
                    onmouseover="this.src='/images/telegHover.png'"
                    onmouseout="this.src='/images/teleg.png'"
                />
                </a>
                <a href="#"><img id="instaImage" class="fa" src="/images/instag.png"
                        onmouseover="this.src='/images/instagHover.png'"
                        onmouseout="this.src='/images/instag.png'"
                    />
                </a>
            </div>
        </div>
        <div class="textBoxJoin" align="center">
            <h5 style="font-family: 'IranSands'">
                شما عضو سرویس شده اید 
            </h5>
            <p>
                برای شروع استفاده کافی است اپلیکیشن را دانلود نمایید
            </p>
        </div>
        <div align="center">
            <a href="#"><button class="appBtnConfirm btn btn-info" type="button"> دریافت اپلیکیشن </button></a>
            <div style="margin-top:10px">
                <a href="#" onclick="return alertFunction()"><img class="appLinks fa fa-apple" 
                        src="/images/apple.png" id="appleImage"
                        onmouseover="this.src='/images/appleHover.png'"
                        onmouseout="this.src='/images/apple.png'"
                    />
                </a>
                <a href="/download/KaaleskehAPK"><img class="appLinks fa fa-android" 
                        src="/images/android.png" id="androidImage"
                        onmouseover="this.src='/images/androidHover.png'"
                        onmouseout="this.src='/images/android.png'"
                    />
                </a>
            </div>
        </div>
    </div>    
<% include partials/footer %>

