<!doctype html>
<html lang="en">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
		<link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background:#04859A  ">
        <div>
            <h3 style="text-align: center; margin-top:100px; font-family:IranSands; color:#FFF">
                شما قبلا ثبت نام کرده اید
            </h3>
        </div>    
    </body>
</html>            