<% include partials/header %> 

    <div class="container registerPage">
		<div class="mainHeader" align="center" >
            <img class="imageHeader" height="150px" src="/images/headerBig.jpg" alt="header">
        </div>
        <div class="row mainHeader">
            <!--<div class="col-md-12 col-sm-12" align="center">
                <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>-->
        </div>
        <form action="/register/sendPhoneNumber" 
            method="post" 
            name="phoneNumberForm"
            onsubmit="return validatePhoneNumberForm ()"
        >
			<div style="overflow:hidden" class="registerBox" align="center">
				<p class="startText">
					برای شروع ثبت نام کنید
				</p>
                <input maxlength="11" type="text" name="phoneNumber" 
                    class="inputNumber" 
                    placeholder="شماره خود را وارد کنید" 
                    required
                    oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                    oninput="setCustomValidity('')"
                >
			</div>
			<div align="center" class="registerBoxBtn">
				<button class="confirmBtn btn btn-success" type="submit">تائید</button>
			</div>
		</form>		
    </div>    
<% include partials/footer %>

