body{
    box-sizing: border-box;
    font-family: 'IranSands'
}
h5 , p , h3 {
    font-family: 'IranSands'

}
.btn {
    font-family: 'IranSands';
    background-color: #F86C01
}

/*Landing 111 Section*/
#landingContainer {
    overflow: hidden;

}
.coverImage {
    position: fixed;
    display: block;
    top:0;
    left:2px;
    right:0;
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.landingStartText{
    margin: 0 auto ;
    width:250px;
    text-align: center;
    border-radius: 10px;
    padding: 10px
}
.landingInputDiv {
    padding-top: 80px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;

}
.landingInput {
    border:none;
    text-align: center;
    border-bottom: 1px solid ;
    font-family: 'IranSands';
    background-color: #A2DBE6
}
.landingButton {
    font-family: 'IranSands';
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.landingText {
    margin: 0 auto ;
    width:50vw;
    margin-top:10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
    background-color: #07ACCC
}
@media only screen and (min-width:500px) {
    .coverImage {
        width: 500px;
        height: 100vh;
    }
    .landingText {
        width:300px;
    }
}
@media only screen and (max-width:360px) {
    .landingInputDiv {
        padding-top: 50px;
    }
}


/*LandingConfirm 111 section*/
.landingReSendButton {
    font-family: 'IranSands';
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

/*Landing Join Section*/
.landingJoinText{
    margin: 0 auto ;
    width:50vw;
    margin-top:100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
    background-color: #07ACCC
}
@media only screen and (min-width:500px) {
    .landingJoinText {
        width:300px;
    }
}

/*Landing 711 Section*/

.textBoxDiv711 {
    margin: 0 auto ;
    width:90vw;
    margin-top:230px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
    background-color: #ECCFA5;
}

.textBoxText711 {
    direction: rtl;
    font-size: 18px;
    font-weight:bold;
    color:#410A42;
}

.underBoxText711 {
    color:#ECCFA5;
    font-size:14px;
    text-align:center;
    padding-top:10px;
    font-family: 'IranSands';
}

.inputDiv711 {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.inputItself711 {
    background-color: #901E66;
    border-bottom: 0px solid ;
    border:none;
    text-align: center;
    font-family: 'IranSands';
    height:50px;
    width:300px;
    border-radius: 30px;
    outline-width: 0;
}

#btnBox711 {
    color:#E79AA2;
    font-size: 22px;
    background-color: #69164C;
    border-radius: 30px;
    font-family: 'IranSands';
    font-weight:bold;
}

.underText711 {
    color:#8A1D64;
    font-size:14px;
    text-align: center;
    padding-top:10px;
    font-family: 'IranSands';
    font-weight:bold;
}

@media only screen and (min-height:720px) {
    .textBoxDiv711 {
        margin-top:300px;
    }
}

@media only screen and (max-height:570px) {
    .textBoxDiv711 {
        margin-top:150px;
    }

    .underBoxText711 {
        font-size:12px;
    }

    .inputItself711 {
        height:40px;
        width:270px;
    }

    #btnBox711 {
        font-size: 20px;

    }

    .underText711 {
        font-size:12px;
        padding-top:5px;

    }

}




@media only screen and (min-width:750px) {
    .textBoxDiv711 {
        margin-top:420px;
        width:400px;
    }

}

@media only screen and (min-width:751px) {
    .textBoxDiv711 {
        margin-top:400px;
        width:400px;
    }

}



/*Landing 746 Section*/

.textBoxDiv746 {
    margin: 0 auto ;
    width:90vw;
    margin-top:90px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
    background-color: #04859A;
}

.textBoxText746 {
    direction: rtl;
    font-size: 18px;
    font-weight:bold;
    color:#FEFEFE;
}

.underBoxText746 {
    color:#152352;
    font-size:14px;
    text-align:center;
    font-weight:bold;
    padding-top:10px;
    font-family: 'IranSands';
}

.inputDiv746 {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.inputItself746 {
    background-color: #9ED1D2;
    border-bottom: 0px solid ;
    border:none;
    text-align: center;
    font-family: 'IranSands';
    height:50px;
    width:300px;
    border-radius: 30px;
    outline-width: 0;
}

#btnBox746 {
    color:#9ED1D2;
    font-size: 22px;
    background-color: #152352;
    border-radius: 30px;
    font-family: 'IranSands';
    font-weight:bold;
}

.underText746 {
    color:#152352;
    font-size:14px;
    text-align: center;
    padding-top:150px;
    font-family: 'IranSands';
    font-weight:bold;
}
@media only screen and (max-height:620px) {
    .underText746 {
        padding-top:25px;
    }
}

@media only screen and (min-height:720px) {
    .underText746 {
        padding-top:250px;
    }
}
@media only screen and (min-height:800px) {
    .underText746 {
        padding-top:330px;
    }
}

@media only screen and (min-width:750px) {
    .textBoxDiv746 {
        width:400px;
        margin-top:190px;
    }
    .underText746 {
        padding-top:330px;
        font-size:20px;
    }
}


/*Landing 765*/


.underBoxText765{
    text-align:center;
    font-weight:bold;
    padding-top:10px;
    font-family: 'IranSands';
    color: #FFAF27;
    font-size: 12px;
    margin-top: 420px
}

@media only screen and (min-width:600px) {
    .underBoxText765 {
        margin-top: 500px
    }

}


/*Landing 776*/


.underBoxText776{
    text-align:center;
    font-weight:bold;
    padding-top:10px;
    font-family: 'IranSands';
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 240px;
    height: 30px;
    -webkit-animation-name: enterNumberText; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: enterNumberText;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media only screen and (min-width:600px) {
    .underBoxText776 {
        margin-top: 270px
    }

}
/*Animation 776*/

@-webkit-keyframes enterNumberText {
    from {font-size: 10px;color:#FFF}
    to {font-size: 13px;color:#E02020}
}

/* Standard syntax */
@keyframes enterNumberText {
    from {font-size: 10px;color:#FFF}
    to {font-size: 13px;color:#E02020}
}

/*Landing 784*/


.underBoxText784{
    text-align:center;
    font-weight:bold;
    padding-top:10px;
    font-family: 'IranSands';
    color: #000;
    font-size: 12px;
    margin-top: 0px
}

@media only screen and (min-width:600px) {
    .underBoxText784 {
        margin-top: 400px
    }

}


/*Landing 812*/
#box {
    margin: 230px auto 0 auto;
}

@media only screen and (min-width : 350px) {
    #box{
        margin-top: 300px
    }
}

@media only screen and (min-width : 700px) {
    #box{
        margin-top: 500px
    }
}

/*font-faces section*/

@font-face {
    font-family: IranSands;
    src: url('/Fonts/iran_sans_mobile.ttf');
    font-display: fallback;
}

@font-face {
    font-family: IranSands;
    src: url('/Fonts/iran_sans_mobile_bold.ttf');
    font-weight: bold;
    font-display: fallback;
}



