body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn {
    font-family: 'IranSands'

}

h5 , p {
    font-family: 'IranSands'

}
/*main page style*/
.logo{
    position: absolute;
    right: 30px;
    top:15px;
    float: right;
    border-radius: 40px;
	display:none;
}
.imageHeader{
    width: 100%;
    height: auto;
}
.mainHeader {
    margin: 50px 0 50px 0 !important;

}

.subHeader{
    margin-top: 20px;
    margin-bottom: 20px;
}
.subHeader .joinBtn{
    width: 250px;
    border-radius: 10px !important;

}
.subHeader a {
    margin:10px
}

.subHeader .fa {
    font-size: 30px;

}

#telegramImage{
    width: 60px;
    margin-top: -10px
}

#instaImage{
    width: 50px
}

#appleImage {
    width: 50px;
    margin-top: -10px
}

#androidImage {
    width: 50px
}

.subHeader .appBtn{
    width: 250px;
    border-radius: 10px !important;

}

.subHeader .col-sm-12 {
    margin-bottom: 30px
}

.videoContainer{

}
.videoContainer .videoPlayer{
    width: 500px;
    height:95%;
    border: 2px solid gray;
}

#textDiv{
    background-image: url("/images/matn.png");
    background-size: 97% 355px;
    background-repeat: no-repeat;
    background-position: 0px -35px;
}

.text{
    text-align: justify;
    direction: rtl;
    padding: 15px;
    height:275px;
    width: 500px;
    font-family: 'IranSands';

}
/*slider*/
.sliderContainer{
    margin: 50px 0 20% 0;
}
img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 50%
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 15px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color:black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/*register page style*/
.registerPage{
    height: 120%;
}

.registerBox{
    /* background-color: rgb(252, 203, 41);
    border: 1px solid gray; */
    /* border-radius: 10px; */
    width: 300px;
    margin: 100px auto;
    margin-bottom: 0;
    background-image: url("/images/frameBlue.png");
    background-size: 97% 85px;
    background-repeat: no-repeat;
    background-position: 0px -12px;

}
.startText {
    font-family: 'IranSands';
    margin-bottom: 3px;
    margin-top: 3px
}
.inputNumber{
    background-color: #95C9E2;
    border:none;
    text-align: center;
    margin: 0 0 10px 0;
    border-bottom: 1px solid;
    font-family: 'IranSands'

}
.confirmBtn{
    margin: 20px 0 30% 0;
    width: 200px;
    border-radius: 10px !important;

}
.row .fa {
    font-size: 30px;
}
.row a {
    margin: 30px;
}



/*confirm page style*/
.textBox{
    /* background-color: rgb(252, 203, 41);
    border: 1px solid gray; */
    /* border-radius: 10px; */
    width: 40%;
    margin: 100px auto;
    margin-bottom: 0;
    background-image: url("/images/frameYellow.png");
    background-size: 92% 105px;
    background-repeat: no-repeat;
    background-position: 0px -11px;
    padding: 10px
    
}
.textBox h5 , p {
    font-family: 'IranSands'

}
.confirmBox{
    /* background-color: rgb(252, 203, 41);
    border: 1px solid gray; */
    /* border-radius: 10px; */
    width: 40%;
    margin: 0px auto;
    margin-bottom: 0;
    background-image: url("/images/frameBlue.png");
    background-size: 97% 105px;
    background-repeat: no-repeat;
    background-position: 0px 11px;
    padding: 20px;
    

}


.confirmBtnConfirmpage{
    margin: 40px 0 10px 0;
    width: 200px;
    border-radius: 10px !important;
}

.retryBtn{
    margin: 20px 0 10px 0;
    width: 200px;
    border-radius: 10px !important;

}
.appBtnConfirm{
    margin: 20px 0 10px 0;
    width: 200px;
    border-radius: 10px !important;

}
.confirmPage .appLinks {
    font-size: 30px;
    margin: 0 40px 40% 40px;
}

/*join page style*/
.textBoxJoin {
    width: 40%;
    margin: 100px auto;
    margin-bottom: 0;
    background-image: url("/images/frameYellow.png");
    background-size: 94% 130px;
    background-repeat: no-repeat;
    background-position: 0px -11px;
    padding: 10px
}

.homeBtn {
    margin-top: 30px
}
.homeBtn .fa{
    font-size: 50px

}
.homeBtn a {
    margin-left: 30px;
}
.joinPage .appLinks {
    font-size: 30px;
    margin: 0 40px 50% 40px;
}

/*footer*/
.footer{
    width: 100%;
    background-color:white;
    height:40px;
    color:black;
    padding:10px 20px;
    border-top: 1px solid gray;
    font-family: 'IranSands'

}

/*media query for index page*/

@media only screen and (max-width:340px){
    .text {
        margin-top:10px
    }

    #textDiv{
        background-size: 100% 440px !important ;
        background-position: 0px -35px;
    }
}


@media only screen and (max-width: 560px) {
    body {
        width: 100%;
    }
    .imageHeader {
        display: block;
        margin-left: auto;
        margin-right: auto;
		width: 100%;
		height: auto;
    }
    .textBox {
        width: 70%;
        margin-top: -30px;
    }
    .textBoxJoin {
        width: 100%;
    }

    .textBoxJoin p {
        font-size: 14px;
        width:80%;
    }

    .confirmBox {
        width: 70%;
        overflow: hidden;

    }
    .videoContainer .videoPlayer {
        width: 100% !important;
        height: auto !important;
    }

    #textDiv{
        background-size: 100% 370px;
        background-position: 0px -35px;
    }

    .text {
        width: 100% !important;
        height: auto !important;
    }

    .logo {
        position: absolute;
        right: 30px;
        top: 15px;
        float: right;
        border-radius: 40px;
        width: 45px !important;
        height: auto
    }

    .registerBox {
        overflow: hidden;
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
    }

    .registerBoxBtn {
        overflow: hidden;
        position: absolute;
        top: 320px;
        left: 0;
        right: 0;
    }

    .videoContainerRegister {
        margin-top: 260px;

    }
    .inputNumber {
        border-bottom: 1px solid;
    }
	.footer {
        font-size:12px;
        margin-top: 100%;
	}
}

@media only screen and (max-width:992px){
    .mySlides img {
        height: 300px
    }
}


@media only screen and (max-width:577px){
    .mySlides img {
        height: 200px
    }
	.footer {
		font-size:12px;
	}
}

@font-face {
    font-family: IranSands;
    src: url('/Fonts/iran_sans_mobile.ttf');
    font-display: fallback;
}

@font-face {
    font-family: IranSands;
    src: url('/Fonts/iran_sans_mobile_bold.ttf');
    font-weight: bold;
    font-display: fallback;
}



/* landingPages Section ..............*/

/*landing register sendPhonNumber*/

.landingPage {
    background-image:url("/images/Landing2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.landingRegisterBox {
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
.LandingStartText{
    font-family: 'IranSands'
}
.landingInputNumber {
    border:none;
    text-align: center;
    margin: 0 0 10px 0;
    border-bottom: 1px solid ;
    font-family: 'IranSands'
}
.landingRegisterBoxBtn {
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}
.landingConfirmBtn {
    margin: 20px 0 30% 0;
    width: 100px;
    border-radius: 10px !important;
    background-color:#F49423
}
.landingDescriptionText {
    text-align: center;
    direction: rtl;
    height:142px;
    width: 280px;
    font-family: 'IranSands';
    overflow: hidden;
    position: absolute;
    margin: 100px auto;
    top: 200px;
    left: 0;
    right: 0;
    color:rgb(6, 43, 33);
    font-size: 12px;

}

@media only screen and (max-width:550px){
    .landingRegisterBox {
        width: 150px;
        top: 0px;
    }
    .LandingStartText{
        font-size: 12px;
        margin-bottom:0
    }
    .landingInputNumber {
        font-size: 10px;
    }
    .landingRegisterBoxBtn {
        top: 140px;
    }
    .landingConfirmBtn {
        font-size: 12px;
        width: 60px;
    }
    .landingDescriptionText {
        height:105px;
        font-size: 12px;
        width: 250px;
        top: 100px;
    }
}

@media only screen and (max-width:400px){
    .landingRegisterBox {
        width: 150px;
        top: -20px;
    }
    .LandingStartText{
        font-size: 10px;
        margin-bottom:0
    }
    .landingInputNumber {
        font-size: 10px;
    }
    .landingRegisterBoxBtn {
        top: 120px;
    }
    .landingConfirmBtn {
        font-size: 10px;
        width: 60px;
    }
    .landingDescriptionText {
        height:105px;
        font-size: 10px;
        width: 200px;
        top: 90px;
    }
}
@media only screen and (max-width:350px){
    .landingDescriptionText {
        height:75px;
    }
}



/*landing Confirm sendCodeNumber*/
.landingPage {
    background-image:url("/images/Landing2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.landingConfirmRegisterBox {
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
.LandingConfirmStartText{
    font-family: 'IranSands'
}
.landingInputNumber {
    border:none;
    text-align: center;
    margin: 0 0 10px 0;
    border-bottom: 1px solid ;
    font-family: 'IranSands'
}
.landingConfirmRegisterBoxBtn {
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}
.landingConfirmConfirmBtn {
    margin: 20px 0 30% 0;
    width: 100px;
    border-radius: 10px !important;
    background-color:#F49423
}
.landingRetryBtn {
    margin: 20px auto;
    width: 100px;
    border-radius: 10px !important;
    overflow: hidden;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    background-color:#FD5B15
}

@media only screen and (max-width:550px){
    .landingConfirmRegisterBox {
        width: 150px;
        top: 0px;
    }
    .LandingConfirmStartText{
        font-size: 12px;
        margin-bottom:0
    }
    .landingInputNumber {
        font-size: 10px;
    }
    .landingConfirmRegisterBoxBtn {
        top: 170px;
    }
    .landingConfirmConfirmBtn {
        font-size: 12px;
        width: 60px;
    }
    .landingRetryBtn {
        width: 100px;
        top: 220px;

    }

}


/*landing Join send Charge*/
.LandingjoinStartText {
    font-size: 14px;
}

@media only screen and (max-width:550px){
    .LandingjoinStartText {
        font-size: 12px;
    }
}