<!doctype html>
<html lang="en" class="landingPage">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
		<link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background:rgba(76, 175, 80, 0) ">
        <div>
            <form 
                action="/landing/sendCodeNumber/111" 
                method="post" 
                name="codeNumberForm"
                onsubmit="return validateCodeNumberForm ()"
            >
                <div 
                    style="overflow:hidden;background-color:#05ADCD" 
                    class="landingConfirmRegisterBox" 
                    align="center"
                >
                    <p class="LandingConfirmStartText">
                        رمز ورود توسط پیامک 
                        برای شما ارسال گردید
                    </p>
                    <input 
                        style="background-color:#05ADCD"
                        type="text" 
                        name="codeNumber"  
                        class="landingInputNumber" 
                        placeholder="کد را ارسال کنید"
                        required
                        oninvalid="this.setCustomValidity('لطفا کد را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div align="center" class="landingConfirmRegisterBoxBtn">
                    <button 
                        style="font-size: 12px;"
                        class="landingConfirmConfirmBtn btn" 
                        type="submit"
                    >
                        تائید
                    </button>  
                </div>
                <div align="center">
                    <a href="/landing111">
                        <button 
                            style="font-size: 12px;"
                            class="landingRetryBtn btn" 
                            type="button"
                        > 
                            ارسال مجدد کد 
                        </button>
                    </a>
                </div>
            </form>		
        </div>    
    </body>
    <script src="/js/script.js"></script>
</html>            