<!doctype html>
<html lang="en" class="landingPage">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
		<link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background:rgba(76, 175, 80, 0);" >
        <div style="min-height:100%;">
            <form 
                action="/landing/sendPhoneNumber/111" 
                method="post" 
                name="phoneNumberForm"
                onsubmit="return validatePhoneNumberForm ()"
            >
                <div 
                    style="overflow:hidden;background-color:#05ADCD" 
                    class="landingRegisterBox" 
                    align="center"
                >
                    <p class="LandingStartText">
                        برای شروع ثبت نام کنید
                    </p>
                    <input 
                        oninput=" validatePhoneNumberMaxlength(this.value)"
                        id="inputNums"
                        style="background-color:#05ADCD"
                        maxlength="11" 
                        type="text" 
                        name="phoneNumber" 
                        class="landingInputNumber" 
                        placeholder="۰۹۱"
                        required
                        oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div align="center" class="landingRegisterBoxBtn">
                    <button 
                        style="font-size: 12px;"
                        class="landingConfirmBtn btn" 
                        type="submit"
                    >
                        تائید
                    </button>  
                </div>
                <p class="landingDescriptionText">
                    برای شرکت در قرعه کشی شماره تلفن خود را وارد نمایید
                </p>  
            </form>		
        </div>    
    </body>
    <script src="/js/script.js"></script>
</html>            