<!doctype html>
<html lang="en" class="landingPage">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
		<link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background:rgba(76, 175, 80, 0) ">
        <div 
            style="overflow:hidden;background-color:#05ADCD" 
            class="landingRegisterBox" 
            align="center"
        >
            <p class="LandingjoinStartText">
                تبریک!! شماره شما برای شرکت در قرعه کشی شارژ تلفن همراه ثبت شد
            </p>
        </div>     
    </body>
</html>            