<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background-color:#FDB3AA">
        <div id="landingContainer"></div>
            <div class="textBoxDiv746" style="text-align: right; margin-top:10px; background-color: rgba(0,0,0,0);font-size:20px;color:#FFFFFF;padding-top:30px">
                    <p style="font-family: IranSands;direction: rtl;color:#FFF">
                            به جشنواره اینترنت هدیه تابستانه خوش آمدید. 
                        </br>
                            تایید عضویت شما تا چند لحظه دیگر به شما پیامک خواهد شد .
                        </br>
                            شما می‌توانید با دعوت از دوستان خود تا 40 هزار تومان شارژ رایگان و تا 7 گیگ اینترنت دریافت کنید .دعوت از:
                        </br>
                            دو نفر اول : 1000 تومان شارژ رایگان 
                        </br>
                            سه نفر بعدی : 4000 تومان شارژ رایگان یا 1 گیگ اینترنت
                        </br>
                            پنج نفر بعدی : 10000 تومان شارژ رایگان یا 2 گیگ اینترنت
                        </br>
                            ده نفر بعدی : 25000 تومان شارژ رایگان یا 4 گیگ اینترنت
                        </br>
                             لطفا ادامه روند را در آخرین پیامکی که برایتان ارسال شده دنبال کنید.
                    </p>
                    <p style="text-align: center;direction: rtl;color:#E02020">
                        لینک دانلود اپلیکیشن کالسکه:
                    </p>
                    <div style="text-align: center;margin: 0 auto;">
                        <button class="btn btn-success" style="text-align: center;margin: 0 auto;">
                            <a style="color: inherit;text-decoration:none;" href="/download/KaaleskehAPK">دانلود اپلیکیشن کالسکه</a>
                        </button>
                    </div>

            </div>
        </div>    
    </body>
</html>            