<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background-color:#FEC786">
        <div id="landingContainer" >
            <div>
                <img src="/images/Landing2.jpg" class="coverImage" />
            </div>
            <form 
            action="/landing/sendCodeNumber/212" 
            method="post" 
            name="codeNumberForm"
            onsubmit="return validateCodeNumberForm ()"
            >
                <div class="landingInputDiv">
                    <p class="landingStartText">
                        رمز ورود توسط پیامک 
                        برای شما ارسال گردید
                    </p>
                    <input 
                        class="landingInput"
                        type="text" 
                        name="codeNumber"  
                        placeholder="کد را ارسال کنید"
                        required
                        oninvalid="this.setCustomValidity('لطفا کد را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button class="btn" type="submit">
                        تائید
                    </button>  
                </div>
                <div class="landingReSendButton">
                    <a href="/landing/212">
                        <button class="btn" type="button"> 
                            ارسال مجدد کد 
                        </button>
                    </a>
                </div>
            </form>		
        </div>    
    </body>
    <script src="/js/script.js"></script>
</html>     