<!doctype html>
<html lang="en">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
		<link rel="icon" sizes="192x192" href="/images/favicon.ico" />

    </head>
    <body style="background-color:rgb(61, 56, 56);padding:20px 100px">
        <div style="text-align:center">
            <a href="/analyticReport" style="text-decoration:none">
                <button class="btn btn-success">Generate Report</button>
            </a>
            <p style="padding-top:10px;color:white">
                Total Record : <%= count %>
            </p>
        </div>
        <header style="margin-top:50px"></header>
            <table class="table table-striped table-dark table-bordered table-hover">
                <% if (table) { %>
                    <tr>
                        <th class="tableHeader">
                            Date Time
                        </th>
                        <th class="tableHeader">
                            Ref
                        </th>
                        <th class="tableHeader">
                            IPAddress
                        </th>
                    </tr>
                    <% table.forEach(function(item) { %>
                        <tr>
                            <td>
                                <%= new Date(item.DateTime).toLocaleString() %>
                            </td>
                            <td>
                                <%= item.Ref %>
                            </td>
                            <td>
                                <%= item.IPAddress %>
                            </td>
                        </tr>
                    <% }); %>
                <% } %>
            </table>
    </body>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</html>