<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
        <style>
            #inputNums {
                background-color: #FFAF27;
                width:270px;
                height: 40px;
            }
        </style>
    </head>
    <body style="background-image:url('/images/backGif776.gif');
            background-color: #08125A;
            background-position: center; 
            background-repeat: no-repeat">
        <div id="landingContainer"></div>
            <div>
                <img src="/images/landing776.jpg" class="coverImage" />
            </div>
            <p class="underBoxText776">
                همین حالا شماره خود را وارد کنید و برنده شارژ و اینترنت شوید
            </p>
            <form
                id="form"
                autocomplete="off"
                action="/landing/sendPhoneNumber/776"
                method="post"
                name="phoneNumberForm"
                onsubmit="return validatePhoneNumberForm()"
            >
                <div class="inputDiv746">
                    <input 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        id="inputNums"
                        class="inputItself746"
                        pattern="\d*"
                        maxlength="11"
                        type="number"
                        name="phoneNumber"
                        required
                        placeholder="۰۹۱"
                        oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button id="btnBox746" class="btn" type="submit" style="font-size: 18px;
                        color:#FFF;background-color: #FFAF27;" >
                        ثبت شماره
                    </button>  
                </div>
            </form>
        </div>    
    </body>
    <script src="/js/script.js"></script>
    <script>
        if("<%=campaignName%>"){
            var campaignName = "<%=campaignName%>";
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${campaignName}/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('campaignName-landingCode is:........',campaignName+'-'+landingCode)
        }else {
            var landingCode = "<%=landingCode%>";
            var postActionUrl = `/landing/sendPhoneNumber/${landingCode}`
            document.getElementById("form").setAttribute(
                "action", postActionUrl
            )
            console.log('landingCode is:........',landingCode)
        }
    </script>
</html>   